{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recaptcha Example</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
</head>
<body>
    <p id="disclaimer"> This site is for demonstration purposes only.</p>
    <img src="{% static 'adnulogo.png' %}">
    <form method="POST">
        {% csrf_token %}
        <label for="name">Name:</label>
        {{ form.name }}
        <label for="emai">Email:</label>    
        {{ form.email }}
        {{ form.captcha }}
        {% for error in form.captcha.errors %}
        <p>{{ error }}</p>
        {% endfor %}
        <button>Submit</button>
    </form>
</body>
</html>